<h1> All about me </h1>
<h2> SKILLZ HOMIE </h2>
	<ul>
		<% @skills.each do|skill %>
			<li> <%= skill %> </li>
			<% end %>
	</ul>

<h2> Interests <h2>
	<ul>
		<% @interests.each. do
			<li> <%= interest %> </li>
		<%end%>
	</ul>
